comentario-avaliacao {
    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }
      img{
        display: block;
        width: auto;
        max-height: 100%;
        max-width: 100%;
      }
      .margem{
        padding: 5px;
      }
      .titulo{
        padding: 5px;
        background: black;
        color: white;          
    }
    .titulo h2{
      text-align: center;
      color: white;
      width: 100%;
  }
}
