<!--
  Generated template for the BeerdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes da Cerveja</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <img [src]='cerveja.im_cerveja!=null?cerveja.im_cerveja:"http://sistema.beercomigo.com/img/icones/cerveja_sem_imagem.png"'
          />
        </ion-col>
        <ion-col>
          <ion-row>
            <h2>{{cerveja.ds_cerveja_abrev}}</h2>
          </ion-row>
          <ion-row>
            <ion-row align-items-center style="margin-top: 5px;">
              <div style="width: 20%">
                <img [src]='cerveja.im_pais' />
              </div>
              <div style="margin-left:5px;">{{cerveja.ds_pais}}</div>
              <ion-buttons>
                  <button ion-button color="danger" ion-button icon-only clear>
                    <h3>{{cerveja.qtd_curtida}}</h3>
                    <ion-icon name="heart"></ion-icon>
                  </button>
                </ion-buttons>
            </ion-row>
            {{cerveja.ds_categoria}}
            <span>ABV: {{cerveja.vl_teor_alcoolico}}%</span>
            <span style="margin-left:15px;" *ngIf="cerveja.nm_ibu != null;">IBU: {{cerveja.nm_ibu}}</span>
          </ion-row>
          <ion-row>
            <div class="avaliacao">
              <ion-icon name="{{cerveja.tipo_estrela}}"></ion-icon>
            </div>
            <div style="margin-left: 5px">{{cerveja.avaliacao}}</div>
          </ion-row>
          <ion-row>
            
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row>
        <span *ngIf="cerveja.ds_cerveja != null;">{{cerveja.ds_cerveja}}</span>
    </ion-row>
  </ion-card>

  <ion-card *ngFor="let comentario of comentarios">
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src={{comentario.im_app_usuario}}>
        </ion-avatar>
        <h2>{{comentario.ds_nome}}</h2>
      </ion-item>

      <ion-card-content>
        <p>{{comentario.ds_comentario}}</p>
        <button ion-button icon-only ion-button color="primary" clear small icon-start (click)="addLike(comentario.id_app_comentario)"
          ng-disabled="expression">
          <ion-icon name="thumbs-up"></ion-icon>
        </button>
        {{comentario.cd_qtd_likes}} pessoas curtiram isso
      </ion-card-content>

    </ion-card>
  </ion-card>
</ion-content>