<ion-header>

  <ion-navbar>
    <ion-title>Seu Perfil</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="main-profile">
        <div class="profile-background">
        </div>
        <div class="profile-header">
          <img src={{userdata.im_app_usuario}} alt="Your name">
          <h1>{{userdata.ds_nome}}</h1>
        </div>
        <div class="profile-body">
          <p>Você já experimentou {{userdata.qtd_cerveja_provada}} cervejas</p>
          <p>Você já avaliou {{userdata.qtd_cerveja_avaliada}} cervejas</p>
          <p>Você já curtiu {{userdata.qtd_cerveja_curtida}} cervejas</p>
          <div class="subscribe-btn">
            <a href="#" class="btn-primary" (click)="setFlagBeer()" >Cervejas que já provei!</a>
            <a href="#" class="btn-primary" (click)="setFlagComment()">Meus comentários</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-list *ngIf="flag; else comentario">
    <h1 class="titulo" >Cervejas que já provei!</h1>
    <ion-card *ngFor="let cerveja of listacervejas">
      <ion-item>
        <ion-thumbnail item-start>
            <img [src]='cerveja.im_cerveja!=null?cerveja.im_cerveja:"http://sistema.beercomigo.com/img/icones/cerveja_sem_imagem.png"' />
        </ion-thumbnail>
        <h2>{{cerveja.ds_cerveja_abrev}}</h2>
        <p>ABV: {{cerveja.vl_teor_alcoolico}}% {{cerveja.nm_ibu}} IBU's</p>
        <button (click)="goToBeerDetail(cerveja.id_cerveja)" ion-button clear item-end>Detalhar</button>
      </ion-item>
    </ion-card>
  </ion-list>

  <ng-template #comentario>
    <h1 class="titulo">Meus comentários</h1>
    <ion-list *ngFor="let comentario of listacomentarios">
        <ion-item>
          <ion-avatar item-start>
            <img [src]='comentario.im_cerveja' />
          </ion-avatar >
          <h2>{{comentario.ds_cerveja_abrev}}</h2>
          <h3>{{comentario.ds_comentario}}</h3>
          <p>6 pessoas curtiram </p>
          <p>Comentei em {{comentario.dt_comentario | date: 'dd/MM/yyyy'}}</p>
        </ion-item>
    </ion-list>
  </ng-template>

</ion-content>